@page "/Mercadoria/{slug}/{id:int:min(1)}"
@model LojaAppWeb.Pages.DetalhesModel

<h2 class="my-3">@Model.Mercadoria.Nome</h2>
<div class="row">
    <div class="col-4">
        <img class="img-fluid rounded" src="@Model.Mercadoria.ImagemUri">
    </div>
    <div class="col-6">
        <h4 class="my-3">Sobre:</h4>
        <p>@Model.Mercadoria.Descricao</p>
        <h4 class="my-3">Mais Info:</h4>
        <ul>
            <li>
                <label asp-for="Mercadoria.Preco"></label>
                : @Html.DisplayFor(model => model.Mercadoria.Preco)
            </li>
            <li>
                <label asp-for="Mercadoria.EntregaExpressa"></label>
                : @Html.DisplayFor(model => model.Mercadoria.EntregaExpressaFormatada)
            </li>
            <li>
                <label asp-for="Mercadoria.DataCadastro"></label>
                : @Html.DisplayFor(model => model.Mercadoria.DataCadastro)
            </li>
        </ul>
        <a class="btn my-3 btn-primary"
        asp-page="/Editar" asp-route-id="@Model.Mercadoria.MercadoriaId">Editar</a>
    </div>
</div>
